extends layout

block content
	h1= title
	p Welcome to #{title}
	p This site was created as a reference guide for Fort Collins safety information and protocols. 
	.well
		h4 Created by Brad Carlson
		.row
			.col-md-8
				p Brad is a Colorado native and web/tech geek.
				div
					span.badge
						i.fa.fa-envelope
					| &nbsp;&nbsp;
					a bradleyrc@gmail.com
				div
					span.badge
						i.fa.fa-linkedin
					| &nbsp;&nbsp;
					a(href="https://www.linkedin.com/in/carlsonee") www.linkedin.com/in/carlsonee
			.col-md-4
				img.img-circle(src="/images/profile_brad.jpg")

	
