doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')

		title= title
		link(rel='shortcut icon', href='http://www.fcgov.com/favicon.ico?03252014', type='image/x-icon')

		link(rel='apple-touch-icon', href='/images/apple-touch-icon-ipad-76x76.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/images/apple-touch-icon-iphone-60x60.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/images/apple-touch-icon-ipad-76x76.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/images/apple-touch-icon-iphone-retina-120x120.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/images/apple-touch-icon-ipad-retina-152x152.png')

		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/yeti/bootstrap.min.css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/menu-builder.css')
	body(class="page-#{pageName}")
	block content

	nav#nav-main.nav.navbar.navbar-default.navbar-fixed-bottom
		.container-fluid
			.navbar-header
				a.text-muted Safety Reference Guide - City of Fort Collins	
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a.text-primary(href="/") Reference Guide
					li
						a.text-primary(href="/about") About
		.container-fluid
			.row
				.col-xs-12
					.clearfix
						| &nbsp;&nbsp;


	script(src='https://code.jquery.com/jquery-2.2.2.min.js', integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=', crossorigin='anonymous')
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
	script(src='/javascripts/app.js')
	script(src='/javascripts/menu-builder.js')
	script.
		FCS.init();
		MenuBuilder.init({data:!{menuItemsStr}})

	  