body, html {
  padding: 0px;
  margin: 0;
  width: 100%;
}

body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid.container-guide{
	padding-left: 0;
	padding-right: 0;
}

.container-fluid.container-guide .row{
	margin-left: 0;
	margin-right: 0;
}

.container-fluid.container-guide .col-xs-12{
	padding-left: 0;
	padding-right: 0;
}

a {
  color: #00B7FF;
}

.img-circle {
    border-radius: 50%;
}

.page-guide{
	margin:0;
	padding:0;
}

.page-guide .panel{
	margin:0 !important;
}

.container-guide{
	margin-bottom:60px;
}

#nav-main {
	height:80px;
	bottom:0px;
}

#nav-main .navbar-header {
    padding-top:10px;
}

#nav-main .text-muted {
    color: #999 !important;
}

#nav-main .text-primary {
    color: #008cba !important;
}

#nav-main .navbar-collapse {
	display: block !important;
}

#nav-main .navbar-right {
	float:right !important;
}

#nav-main .navbar-right li {
	float:left !important;
}