body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.img-circle {
    border-radius: 50%;
}

.navbar-brand.text-muted {
    color: #999 !important;
}

.page-guide{
	margin:0;
	padding:0;
}

.page-guide .panel{
	margin:0 !important;
}